target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Env ###
.env